:root{
    --back:black;
}
*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: auto;
    background-color: black;
}
.page1{
    width: 100%;
height: 100vh;
    background-color:var(--back);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2{
    width: 100%;
    height: 100vh;
    background-color:var(--back);
}
.page3{
    width: 100%;
    height: 100vh;
    background-color:var(--back);
}
.page1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Hide video initially */
    transition: opacity 0.3s;
}
