:root{
    --back:black;
}
*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;

    font-family: "spacetron";
}
@font-face{
    font-family:spacetron;
    src: url(spacetron.otf);
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: auto;
    background-color: black;
}
.page1{
    width: 100%;
    height: 100vh;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.timemachine.eu%2Ftimeline-travel-architectural-history-experienced-from-a-new-angle%2F&psig=AOvVaw17-dLUBPlV1WJzewhto7Yr&ust=1722523481002000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKiJuJLC0YcDFQAAAAAdAAAAABAK")rgba(0, 0, 0, 0.377);
    transition: background-image 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.page2{
    width: 100%;
    height: 100vh;
    background-image: url("historical-background-1920-x-1200-pyzxip1ouy3jwtni.jpg");
    background-size:cover;
    color: white;
    display: flex;
    align-items: center;
}
.page3{
    width: 100%;
    height: 100vh;
    background-image:url("nasa.webp");
    background-size:cover;
    color: white;
    display: flex;
    align-items: center;
}
.footer{
    width:100%;
    height:200px;
    background-color: rgba(0, 0, 0, 0.555);
}
